<fieldset class="govuk-fieldset" aria-describedby="waste-hint">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h2 class="govuk-fieldset__heading">
     <%= question.title %>
    </h2>
    <% question.tags_with_colours.each do |tag| %>
      <%= govuk_tag(**tag) %>
    <% end %>
  </legend>
  <div class="govuk-radios" data-module="govuk-radios">
    <% question.answers.each do |name, answer| %>
      <div class="govuk-radios__item">
        <%= radio_button_tag question.name, name, class: "govuk-radios__input" %>
        <%= label_tag name, answer[:label], class: "govuk-label govuk-radios__label" %>
      </div>
    <% end %>
  </div>
</fieldset>
