<h1>Your answers</h1>

<% @report.each do |questionnaire, questions| %>
  <h2>Questionnaire: <%= questionnaire.to_s.titleize %></h2>
  <ul>
    <% questions.each do |question, answer| %>
      <li>
        To the question <em><%= question.to_s.humanize %></em>
        you answered <em><%= answer.to_s.humanize %></em>.
      </li>
    <% end %>
  </ul>
<% end %>

<p>Your total score was <%= @score %>.</p>

<p class="no-print">This comment does not appear is you print page</p>
