<% content_for :title, "#{@questionnaire.heading} - #{@question.title}" %>

<h1 class="govuk-heading-l"><%= @questionnaire.heading %></h1>

<%= form_tag(questionnaire_question_path(questionnaire_id: @questionnaire.id, id: @question.id), method: :put) do %>
  <div class="govuk-form-group">
    <%= render question_partial(@question), question: @question %>

    <div class="govuk-!-margin-top-5"><%= submit_tag 'Submit', class: "govuk-button" %></div>
  </div>
<% end %>
