<% content_for :title, @content.title %>

<p class="govuk-body">
  <%= govuk_link_to("Back to: #{@content.previous.title}", content_path(@content.previous.id)) if @content.previous %>
</p>

<h1 class="govuk-heading-l"><%= @content.title %></h1>

<%= @content.to_html.html_safe %>

<p class="govuk-body">
  <%= govuk_link_to("Proceed to: #{@content.next.title}", content_path(@content.next.id)) if @content.next %>
</p>
