<% content_for :title, "#{@questionnaire.heading}" %>

<%= form_tag(questionnaire_path(id: @questionnaire.id), method: :put) do %>
  <div class="govuk-form-group">
    <% @questionnaire.question_objects.each do |question| %>
      <%= render question_partial(question), question: question %>
    <% end %>
    <div class="govuk-!-margin-top-5"><%= submit_tag 'Submit', class: "govuk-button" %></div>
  </div>
<% end %>


